<html>
<body>
<h1>Register</h1>
<form action="/register", method="POST">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(size=20) }}<p>
    {{ form.password.label }} {{ form.password(size=20) }}<p>
    <input type="submit" />
</form>

</body>
</html>
